<div style="display: flex; flex-direction: column">
    <h1 style="text-align: center; font-weight: 600">Games</h1>
    <div class='container' style="height: 700px; width: 325px; display: flex; flex-direction: column-reverse">
        <a id="create-char-btn" href="<%= welcome_path %>" class="mdc-button mdc-button--raised" style="width: 100%">
            <div class="mdc-button__ripple"></div>
            <span class="mdc-button__label">Create or Join Game</span>
        </a>
        <div style="height: 100%; overflow-y: auto; overflow-x: hidden;">
            <% @games.each do |game| %>
                <button onClick="changeGame(&quot;<%= change_game_path(:game_id => game.id) %>&quot;)" class="character-item <%= @user.selected_game_id == game.id ? "character-item-current" : nil %>" style="border-radius: 6px; background-color: #e6ebed; width: 95%; margin-right: 5px; padding-top: 15px; margin-bottom: 15px">
                    <h3 style="margin: 0 15px; font-weight: 500; text-align: left"><%= game.name %></h3>
                    <div style="display: flex">
                        <h4 style="margin-left: 15px">Join Code: </h4>
                        <h4 style="margin-left: 15px"><%= game.join_code %></h4>
                    </div>
                </button>
                <div id="character-<%= game.id %>-delete" onClick="showModal()" style="width: 100%; position: relative; bottom: 62px; right: 20px">
                    <span class="material-icons char-delete" style="margin-top: 10px; float: right; height: 0">delete</span>
                </div>
            <% end %>
        </div>
    </div>
</div>

<script>
    function changeGame (url) {
        $.ajax({
                url: url,
                success: function (response) {
                    window.location = "<%= root_path %>"
                }
            });
    }
</script>