<div>
  <h1 style="text-align: center; font-weight: 600">Login</h1>
  <div class="container">
    
    <% flash.each do |type, msg|%>
      <div class="error-container" style="width: 100%; text-align: center; border-radius: 3px; background-color: #E53935">
        <h5 style="color: white;"><%= msg %></h5>
      </div>
    <% end %>
    
    <%= form_tag '/sessions', class: 'login-form' do %>
      <div class="text-field mui-textfield">
        <%= label_tag :username%>
        <%= text_field_tag :username %>
      </div>
      <div class="text-field mui-textfield">
        <%= label_tag :password%>
        <%= password_field_tag :password%>
      </div>
      <div class="login-link-grp">
        <%= link_to "Register", register_path, class: "login-link"  %>
        <%= link_to "Forgot Your Password?", register_path, class: "login-link"  %>
      </div>
      <%= submit_tag "Login", id: 'submit-btn', class: 'mui-btn mui-btn--primary' %>
    <% end %>
  </div>
</div>
