<div>
  <h1 style="text-align: center; font-weight: 600">Login</h1>
  <div class="container">
    <%= form_tag '/sessions', class: 'login-form', style: 'display: flex; justify-content: space-between' do %>
      <% flash.each do |type, msg|%>
        <div class="error-container" style="width: 100%; text-align: center; border-radius: 3px; background-color: #E53935">
          <h5 style="color: white;"><%= msg %></h5>
        </div>
      <% end %>
      <div class="mdc-text-field mdc-text-field--outlined">
        <%= text_field_tag :username, nil, id: 'username-text-field', class: 'mdc-text-field__input' %>
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <%= label_tag :username, nil, id: 'username-label', class: 'mdc-floating-label', style: 'background-color: white; padding-left: 5px; padding-right: 5px;'%>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
      <div class="mdc-text-field mdc-text-field--outlined">
        <%= password_field_tag :password, nil, id: 'password-text-field', class: 'mdc-text-field__input' %>
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <%= label_tag :password, nil, id: 'password-label', class: 'mdc-floating-label', style: 'background-color: white; padding-left: 5px; padding-right: 5px;'%>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
      <div class="login-link-grp">
        <%= link_to "Register", register_path, class: "login-link"  %>
        <%= link_to "Forgot Your Password?", register_path, class: "login-link"  %>
      </div>
      <%= submit_tag "Login", id: 'submit-btn', class: 'mui-btn mui-btn--primary' %>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'login_register' %>
