<div>
  <h1 style="text-align: center; font-weight: 600">Register</h1>
  <div class="container">
    <%= form_with(model: @user, local: true, class: "login-form") do |form| %>
      <% if @user.errors.any? %>
        <div id="error_explanation">
          <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

          <ul>
            <% @user.errors.full_messages.each do |message| %>
              <li><%= message %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <div class="mdc-text-field mdc-text-field--outlined">
        <%= form.text_field :username, id: 'username-text-field', class: 'mdc-text-field__input' %>
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <%= form.label :username, nil, id: 'username-label', class: 'mdc-floating-label', style: 'background-color: white; padding-left: 5px; padding-right: 5px;'%>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>
      <div class="mdc-text-field mdc-text-field--outlined">
        <%= form.password_field :password, id: 'password-text-field', class: 'mdc-text-field__input' %>
        <div class="mdc-notched-outline">
          <div class="mdc-notched-outline__leading"></div>
          <div class="mdc-notched-outline__notch">
            <%= form.label :password, nil, id: 'password-label', class: 'mdc-floating-label', style: 'background-color: white; padding-left: 5px; padding-right: 5px;'%>
          </div>
          <div class="mdc-notched-outline__trailing"></div>
        </div>
      </div>


      <!-- <div class="field text-field mui-textfield">
        <%= form.label :username %>
        <%= form.text_field :username %>
      </div>

      <div class="field text-field mui-textfield">
        <%= form.label :password %>
        <%= form.text_field :password, type: "password" %>
      </div> -->

      <div class="actions">
        <%= form.submit value: "Submit", class: "mui-btn mui-btn--primary", id: "submit-btn" %>
      </div>
    <% end %>
  </div>
</div>

<%= javascript_pack_tag 'login_register' %>
